
@font-face {font-family: "Frutiger 55 Roman";
  src: url("../fonts/e323f90203f8785beb652ab493d57c1d.eot"); /* IE9*/
  src: url("../fonts/e323f90203f8785beb652ab493d57c1d.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/e323f90203f8785beb652ab493d57c1d.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/e323f90203f8785beb652ab493d57c1d.woff") format("woff"), /* chrome、firefox */
  url("../fonts/e323f90203f8785beb652ab493d57c1d.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/e323f90203f8785beb652ab493d57c1d.svg#Frutiger 55 Roman") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Frutiger LT 45 Light";
  src: url("../fonts/d141fcbd9641ce533f79343c85d2a2e2.eot"); /* IE9*/
  src: url("../fonts/d141fcbd9641ce533f79343c85d2a2e2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/d141fcbd9641ce533f79343c85d2a2e2.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/d141fcbd9641ce533f79343c85d2a2e2.woff") format("woff"), /* chrome、firefox */
  url("../fonts/d141fcbd9641ce533f79343c85d2a2e2.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/d141fcbd9641ce533f79343c85d2a2e2.svg#Frutiger LT 45 Light") format("svg"); /* iOS 4.1- */
}

body {
    font-family: "Frutiger LT 45 Light" !important;
    font-size: 1.6rem;
	font-style: normal;
    -webkit-font-smoothing: antialiased;
    /*-webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;*/
}

/*** TAMAÑO DE LOS ICONOS ***/

.xs{
    font-size: 1.8rem;
	font-weight: normal !important;
}

.sm{
    font-size: 2.5rem;
	font-weight: normal !important;
}

.md{
    font-size: 3.6rem;
	font-weight: normal !important;
}

.lg{
    font-size: 4.5rem;
	font-weight: normal !important;
}

.short .lg{
    font-size: 3.5rem;
}

.xl{
    font-size: 5.2rem;
	font-weight: normal !important;
}

@media (max-width: 767px) {

	.lg{
		font-size: 2.6rem !important;
		font-weight: normal !important;
	}

	.xl{
		font-size: 4.5rem;
		font-weight: normal !important;
	}
	
}

/*** TÍTULOS Y SUBTÍTULOS DEL INDEX ***/

h1{
    font-size: 2.7rem;
}

h2{
    font-size: 2.4rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.6rem;
	font-weight: bold;
}

.home h2{
    font-size: 4rem;
}

@media (max-width: 991px) {

	.home h2{
		font-size: 2.6rem;
		font-weight: bold;
	}
	
}

.index-subtitle{
    font-size: 1.8rem;
}

/*** ESTRUCTURA ***/

.breadcump-wrapper{
	font-size: 1.4rem;
}

/*** ACCESIBILIDAD ***/

.accesibility-wrapper{
	font-size: 1.5rem;
}

/*** LOGO Y MENÚ ***/
	
.menu-wrapper{
	font-size: 1.5rem;
}

.menu-wrapper .text{
	font-size: 1.3rem;
		
		-webkit-transform: translateY(0%);
		-moz-transform: translateY(0%);
		transform: translateY(0%);
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		transition: all 0.5s;
}

@media (max-width: 991px) {

	.menu-wrapper .text{
		font-size: 1.5rem;
	}
	
}

@media (min-width: 992px) {

	.din .short .menu-wrapper .text {
	font-size: 0rem;
		
		-webkit-transform: translateY(0%);
		-moz-transform: translateY(0%);
		transform: translateY(0%);
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		transition: all 0.5s;
	}
	
}

/*** BUSCADOR ***/

.search-wrapper input {
	font-size: 2.5rem;
}

.search-wrapper .search-freq a{
	font-size: 1.4rem;
}

/*** ÍNDICE ***/

.index-wrapper{
	font-size: 1.8rem;
}

@media (max-width: 767px) {

	.index-wrapper {
		font-size: 1.6rem;
	}
}

/*** NOTICIAS ***/

.news-wrapper .new-title{
	font-size: 1.6rem;
}

/*** CIUDADANO ***/

.ciudadano-wrapper .text {
	font-size: 1.7rem;
	text-transform: uppercase;
}

@media (max-width: 767px) {

	.text {
		font-size: 1.6rem;
	}
	
}

@media (max-width: 400px) {

	.text {
		font-size: 1.3rem;
	}
	
}

/*** INSTITUCIONES ***/

.instituciones-wrapper .title{
	font-size: 2.2rem;
}

/*** MUNICIPALIDADES ***/

.municipalidades-wrapper .text {
	font-size: 1.6rem;
	text-transform: initial;
}

/*** MUNICIPALIDADES ***/

.footerlinks-wrapper  {
	font-size: 2rem;
}



















