@font-face {
    font-family: 'icons';
    src:    url('../fonts/icons.eot?pqe4b1');
    src:    url('../fonts/icons.eot?pqe4b1#iefix') format('embedded-opentype'),
        url('../fonts/icons.ttf?pqe4b1') format('truetype'),
        url('../fonts/icons.woff?pqe4b1') format('woff'),
        url('../fonts/icons.svg?pqe4b1#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-cea:before {
  content: "\e900";
}
.ico-lg-bank:before {
  content: "\e901";
}
.ico-lg-bookmark:before {
  content: "\e902";
}
.ico-lg-briefcase:before {
  content: "\e903";
}
.ico-lg-browser:before {
  content: "\e904";
}
.ico-lg-building:before {
  content: "\e905";
}
.ico-lg-calendar:before {
  content: "\e906";
}
.ico-lg-card:before {
  content: "\e907";
}
.ico-lg-chat:before {
  content: "\e908";
}
.ico-lg-document:before {
  content: "\e909";
}
.ico-lg-documents:before {
  content: "\e90a";
}
.ico-lg-flag:before {
  content: "\e90b";
}
.ico-lg-handshake:before {
  content: "\e90c";
}
.ico-lg-information:before {
  content: "\e90d";
}
.ico-lg-information2:before {
  content: "\e90e";
}
.ico-lg-list:before {
  content: "\e90f";
}
.ico-lg-mansion:before {
  content: "\e910";
}
.ico-lg-organization:before {
  content: "\e911";
}
.ico-lg-profit:before {
  content: "\e912";
}
.ico-lg-screen:before {
  content: "\e913";
}
.ico-lg-search:before {
  content: "\e914";
}
.ico-lg-speech:before {
  content: "\e915";
}
.ico-lg-thumb:before {
  content: "\e916";
}
.ico-lg-user:before {
  content: "\e917";
}
.ico-md-audit:before {
  content: "\e918";
}
.ico-md-balance:before {
  content: "\e919";
}
.ico-md-bank:before {
  content: "\e91a";
}
.ico-md-building:before {
  content: "\e91b";
}
.ico-md-calendar:before {
  content: "\e91c";
}
.ico-md-card:before {
  content: "\e91d";
}
.ico-md-check:before {
  content: "\e91e";
}
.ico-md-handshake:before {
  content: "\e91f";
}
.ico-md-house:before {
  content: "\e920";
}
.ico-md-location:before {
  content: "\e921";
}
.ico-md-mansion:before {
  content: "\e922";
}
.ico-md-search:before {
  content: "\e923";
}
.ico-md-user:before {
  content: "\e924";
}
.ico-siaper:before {
  content: "\e925";
}
.ico-sm-add:before {
  content: "\e926";
}
.ico-sm-bookmark:before {
  content: "\e927";
}
.ico-sm-briefcase:before {
  content: "\e928";
}
.ico-sm-clock:before {
  content: "\e929";
}
.ico-sm-contrast:before {
  content: "\e92a";
}
.ico-sm-envelope:before {
  content: "\e92b";
}
.ico-sm-file:before {
  content: "\e92c";
}
.ico-sm-house:before {
  content: "\e92d";
}
.ico-sm-menu:before {
  content: "\e92e";
}
.ico-sm-minus:before {
  content: "\e92f";
}
.ico-sm-next:before {
  content: "\e930";
}
.ico-sm-paperclip:before {
  content: "\e931";
}
.ico-sm-printer:before {
  content: "\e932";
}
.ico-sm-question:before {
  content: "\e933";
}
.ico-sm-reset:before {
  content: "\e934";
}
.ico-sm-search:before {
  content: "\e935";
}
.ico-sm-star:before {
  content: "\e936";
}
.ico-sm-stats:before {
  content: "\e937";
}
.ico-sm-stats2:before {
  content: "\e938";
}
.ico-sm-text:before {
  content: "\e939";
}
.ico-sm-user:before {
  content: "\e93a";
}
.ico-social-facebook:before {
  content: "\e93b";
}
.ico-social-flickr:before {
  content: "\e93c";
}
.ico-social-rss:before {
  content: "\e93d";
}
.ico-social-twitter:before {
  content: "\e93e";
}
.ico-social-youtube:before {
  content: "\e93f";
}

