@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot?i8wiwq");
  src: url("../fonts/icons.eot?i8wiwq#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?i8wiwq") format("truetype"), url("../fonts/icons.woff?i8wiwq") format("woff"), url("../fonts/icons.svg?i8wiwq#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ico-cea:before {
  content: "\e900"; }

.ico-CSC:before {
  content: "\e901"; }

.ico-dip:before {
  content: "\e902"; }

.ico-lg-bank:before {
  content: "\e903"; }

.ico-lg-bookmark:before {
  content: "\e904"; }

.ico-lg-briefcase:before {
  content: "\e905"; }

.ico-lg-browser:before {
  content: "\e906"; }

.ico-lg-building:before {
  content: "\e907"; }

.ico-lg-buildings:before {
  content: "\e908"; }

.ico-lg-calendar:before {
  content: "\e909"; }

.ico-lg-card:before {
  content: "\e90a"; }

.ico-lg-chat:before {
  content: "\e90b"; }

.ico-lg-document:before {
  content: "\e90c"; }

.ico-lg-documents:before {
  content: "\e90d"; }

.ico-lg-flag:before {
  content: "\e90e"; }

.ico-lg-handshake:before {
  content: "\e90f"; }

.ico-lg-information:before {
  content: "\e910"; }

.ico-lg-information2:before {
  content: "\e911"; }

.ico-lg-list:before {
  content: "\e912"; }

.ico-lg-mansion:before {
  content: "\e913"; }

.ico-lg-organization:before {
  content: "\e914"; }

.ico-lg-profit:before {
  content: "\e915"; }

.ico-lg-screen:before {
  content: "\e916"; }

.ico-lg-search:before {
  content: "\e917"; }

.ico-lg-speech:before {
  content: "\e918"; }

.ico-lg-thumb:before {
  content: "\e919"; }

.ico-lg-user:before {
  content: "\e91a"; }

.ico-lg-users:before {
  content: "\e91b"; }

.ico-md-audit:before {
  content: "\e91c"; }

.ico-md-balance:before {
  content: "\e91d"; }

.ico-md-bank:before {
  content: "\e91e"; }

.ico-md-building:before {
  content: "\e91f"; }

.ico-md-buildings:before {
  content: "\e920"; }

.ico-md-calendar:before {
  content: "\e921"; }

.ico-md-card:before {
  content: "\e922"; }

.ico-md-check:before {
  content: "\e923"; }

.ico-md-handshake:before {
  content: "\e924"; }

.ico-md-house:before {
  content: "\e925"; }

.ico-md-location:before {
  content: "\e926"; }

.ico-md-mansion:before {
  content: "\e927"; }

.ico-md-search:before {
  content: "\e928"; }

.ico-md-user:before {
  content: "\e929"; }

.ico-md-users .path1:before {
  content: "\e92a";
  color: black; }

.ico-md-users .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: black; }

.ico-md-users .path3:before {
  content: "\e92c";
  margin-left: -1em;
  color: black; }

.ico-md-users .path4:before {
  content: "\e92d";
  margin-left: -1em;
  color: black; }

.ico-md-users .path5:before {
  content: "\e92e";
  margin-left: -1em;
  color: black; }

.ico-md-users .path6:before {
  content: "\e92f";
  margin-left: -1em;
  color: black; }

.ico-siaper:before {
  content: "\e930"; }

.ico-sm-add:before {
  content: "\e931"; }

.ico-sm-bookmark:before {
  content: "\e932"; }

.ico-sm-briefcase:before {
  content: "\e933"; }

.ico-sm-clock:before {
  content: "\e934"; }

.ico-sm-contrast:before {
  content: "\e935"; }

.ico-sm-envelope:before {
  content: "\e936"; }

.ico-sm-file:before {
  content: "\e937"; }

.ico-sm-house:before {
  content: "\e938"; }

.ico-sm-menu:before {
  content: "\e939"; }

.ico-sm-minus:before {
  content: "\e93a"; }

.ico-sm-next:before {
  content: "\e93b"; }

.ico-sm-paperclip:before {
  content: "\e93c"; }

.ico-sm-printer:before {
  content: "\e93d"; }

.ico-sm-question:before {
  content: "\e93e"; }

.ico-sm-reset:before {
  content: "\e93f"; }

.ico-sm-search:before {
  content: "\e940"; }

.ico-sm-star:before {
  content: "\e941"; }

.ico-sm-stats:before {
  content: "\e942"; }

.ico-sm-stats2:before {
  content: "\e943"; }

.ico-sm-text:before {
  content: "\e944"; }

.ico-sm-user:before {
  content: "\e945"; }

.ico-social-facebook:before {
  content: "\e946"; }

.ico-social-flickr:before {
  content: "\e947"; }

.ico-social-rss:before {
  content: "\e948"; }

.ico-social-twitter:before {
  content: "\e949"; }

.ico-social-youtube:before {
  content: "\e94a"; }